// ==== Variables

// Section background colors
$htmlBlack: rgb(15,15,15);
$sidebarBlack: rgb(15,15,15);
$darkGrey: rgb(30,30,30);
$lightGrey: rgb(44,44,44);

// text colors

$textGrey: rgb(164,164,164);
$textWhite: rgb(255,255,255);

// accent colors (Spotify)

$greenAccent: rgb(34,176,67);

// new secondary Spotify colors
$darkBlue: rgb(41,53,99);
$pink: rgb(213,116,159);

$lightBlue: rgb(108,154,243);
$lightGreen: rgb(207,239,185);

$red: rgb(121,30,53);
$aqua: rgb(183,241,226);