// ==== Variables

// Section background colors
$htmlBlack: rgb(15,15,15);
$sidebarBlack: rgb(15,15,15);
$darkGrey: rgb(19,19,19);
$lightGrey: rgb(30,30,30);

// text colors

$textGrey: rgb(164,164,164);
$textWhite: rgb(255,255,255);

// accent colors

$greenAccent: rgb(34,176,67);