@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import './variables';

// All

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

html, body {
    background-color: $sidebarBlack;
    height: 100%;
    overflow: hidden;
}

// ==== Helpers

.flex {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-vertical-align {
    align-items: center;
}

.flex-spread {
    justify-content: space-between;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-evenly {
    justify-content: space-evenly;
}

.link {
    cursor: pointer;
    text-decoration: none !important;
}

.link-green {
    color: $greenAccent;
    cursor: pointer;
    text-decoration: none !important;
}

.small-margin-sides {
    margin-left: 5px;
    margin-right: 5px;
}

.small-margin-top-bottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.remove-all-margin {
    margin: 0px 0px;
}

.remove-top-margin {
    margin-top: 0px !important;
}

.remove-bottom-margin {
    margin-bottom: 0px !important;
}

.divider {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid $lightGrey;
    z-index: 9999;
}

.textGrey {
    color: $textGrey;
}

.textWhite {
    color: $textWhite;
}

.green-btn {
    color: $greenAccent;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid $greenAccent;
    border-radius: 20px 20px;
    padding: 5px 8px;
    cursor: pointer;
}

.backgroundDarkGrey {
    background-color: $sidebarBlack;
    padding: 5px;
}

// ==== Page/component section templates

// sidebar padding, scrolling
.sidebarModule {
    overflow: scroll !important;
    padding: 2px 15px;
}

// Main section display, placement, formatting, etc
.mainSection {
    width: 64%;
    position: relative;
    left: 18%;
    height: 92vh;
    overflow: scroll;
    z-index: 1;
    margin-bottom: 80px;
    background-color: $darkGrey;
    overflow-x: hidden;

    @media (max-width: 1185px) {
        width: 82%;
    }
}

.mainSection::before {
    content: '';
    width: 100vw;
    position: absolute;
    height: 15%;
    z-index: 2;
    background: linear-gradient(0deg, $darkGrey, $darkGrey 10%, $backgroundGrey 100%);
}

// padding for main section
.mainModule {
    padding: 5px 30px;
}

// Error view when api calls fail / user needs to sign in again
.errorView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// ==== scrollbar design
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
::-webkit-scrollbar-track-piece  {
    background-color: $htmlBlack;
}
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: $greenAccent;
    border-radius: 10px;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}