@import '../../../../../variables';

.parentContainer {
    padding: 20px 0px;
}

.average {
    width: 40%;
    
    @media(max-width: 500px) {
        width: 85%;
    }
}

.highest, .lowest {
    width: 25%;
    
    @media(max-width: 500px) {
        width: 85%;
    }
}