@import '../../../variables';

.navbar {
    width: 100%;
    padding: 10px 0px;
    border-bottom: 1px solid $lightGrey;
}

.navList {
    display: flex;
    list-style: none;
}

.navItem {
    color: $textGrey;
    margin: 0px 10px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none !important;
}

.navItem:hover {
    border-bottom: 2px solid $greenAccent;
    color: $textWhite;
}

.link {
    text-decoration: none !important;
}

.currentNavItem {
    border-bottom: 2px solid $greenAccent;
    color: $textWhite;
    font-weight: 600;
}