@import '../../../variables';

.playlistsContainer {
    display: block;
}

.playlistItem {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 8px;

    @media (max-width: 500px) {
        padding: 7px 0px;
        border-bottom: 2px solid $lightGrey;
    }
}

.playlistItem:hover {
    background-color: $lightGrey;
}

.playlistImg {
    width: 30%;
    height: auto;

    @media (max-width: 500px) {
        width: 25%;
        height: 25%;
    }
}

.playlistItemRight {
    width: 60%;
    display: flex;
    margin: 0px 25px;
    align-items: center;
    align-content: center;
    
    @media (max-width: 500px) {
        width: 75%;
    }
}

.playlistItemRight div h2 {
    @media (max-width: 500px) {
        font-size: 16px;
        margin-top: 0px;
    }
}

.playlistItemRight div p, .playlistItemRight div h4 {
    @media (max-width: 500px) {
        font-size: 14px;
        margin: 0px;
    }
}