@import '../../../variables';

.sidebarLeft {
    width: 18%;
    border: 1px solid black;
    height: 91%;
    position: fixed;
    z-index: 1;
    background-color: $sidebarBlack;
    overflow: scroll !important;

    // tablet
    @media (max-width: 1185px) {
        width: 25%;
    }

    // mobile; hidden on mobile
    @media(max-width: 500px) {
        width: 0%;
    }
}