@import '../../../variables';

.sidebarLeft {
    width: 18%;
    border: 1px solid black;
    height: 91%;
    position: fixed;
    z-index: 1;
    background-color: $sidebarBlack;
    overflow: scroll !important;
}


.sidebarModule {
    overflow: scroll !important;
    padding: 2px 15px;
}

.sidebarHeader {
    
}