.successPageContainer {
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    padding: 50px;
    color: white;
}