@import '../../../../variables';

.playlistsContainer {
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row;

    @media (max-width: 1185px) {
        flex-direction: column;
        width: 100%;
    }
}

.playlistItem {
    display: flex;
    width: 50%;
    height: 220px;
    border-radius: 8px;
}

.playlistItem:hover {
    background-color: $lightGrey;
}

.playlistImg {
    width: auto;
    height: 100%;
}

.playlistItemRight {
    width: 60%;
    display: flex;
    margin: 0px 25px;
    align-items: center;
    align-content: center;

    @media (max-width: 1185px) {
        width: 100%;
    }
}

.playlistItemRight h2 {
    font-size: 10px;
}