@import '../../../../../variables';

.parentContainer {
    padding: 20px 0px;
}

.left, .right {
    width: 50%;

    @media(max-width: 500px) {
        width: 85%;
    }
}

.playlistsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media(max-width: 1184px) {
        justify-content: space-around;
    }
}

.playlistPopularityItem {
    width: 30%;
    margin: 0px 15px;

    @media (max-width: 500px) {
        width: 40%;
        margin: 0px 5px;
    }
}

.playlistTotal {
    color: $lightGrey;
    margin-top: 0;
}

.playlistName {
    margin-bottom: 0;
}