@import '../../../../variables';

.allPlaylistButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.allPlaylistButton:hover {
    background-color: $lightGrey;
}

.icon {
    padding: 10px;
}

.right {
    padding: 0px 20px;
}

.loadingBlurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}