@import '../../../variables';

.sidebarNavContainerColumn {
    display: block;
}

.sidebarNavContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon {
    color: green;
}

.navItem {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 5px 5px;
}

.navItem:hover {
    background-color: $darkGrey;
}