@import '../../_variables.scss';

.sidebarContent {
    height: 87%;
    overflow: scroll;
}

.sidebarHeader {

}

.sidebarModule {
    padding: 2px 4px 0px 4px;
    overflow: scroll;
    height: 100%;
}