@import '../../../../variables';

.parentContainer {
    width: 100%;
    padding: 20px 0px;
}

.graphContainer {
    width: 80%;
    height: 80%;

    @media(max-width: 500px) {
        width: 100%;
        height: 100%;
    }
}

.left {
    width: 20%;

    @media(max-width: 500px) {
        width: 100%;
    }
}

.featureTitleRecent {
    color: $pink !important;
    font-weight: 600 !important;
}

.parentContainer p {
    @media(max-width: 1185px) {
        font-size: 12px;
    }
}